.tratamientos{
    margin-top: 100px;
    margin-bottom: 150px;
    img{
        width: 350px;
        height: 250px;
        object-fit: cover;
        box-shadow: 5px 5px 20px 0px grey;
    }  
    p{
        font-family: $didactFont;
        font-size: 20px;
    } 
    h3{
        font-weight: bold;
        color: $h3Color;
    }
} 