//colores
$mainColor:#efefef;
$navColor: rgb(211, 211, 211);
$h1Color:#777777;
$h2Color: black;
$pColor:rgb(48, 48, 48);
$footerColor:#717171;


$w-100:100%;
$h-100:100%;

//fonts
$didactFont: "Didact Gothic", cursive;
$robotoFont: "Roboto" , cursive;
