//colores
$mainColor:#efefef;
$navColor: rgb(211, 211, 211);
$h1Color:#777777;
$h2Color:rgb(55, 55, 55);
$h3Color:rgb(100, 100, 100);
$footerColor:#717171;


$w-100:100%;
$h-100:100%;

//fonts
$didactFont: "Didact Gothic", cursive;
$robotoFont: "Roboto" , cursive;

$fsize20: 20px;
